{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ post['summary'] }}"{% endblock %}</h1>
{% endblock %}



{% block content %}
<form method="post" style="display:flex; flex-direction:column">
    <label for="title">Title</label>
    <input name="title" id="title"
           value="{{ request.form['title'] or post['summary'] }}" required>
    <label for="date">Date</label>
    <input type="date" name="date" id="date"
           value="{{ request.form['date'] or date }}" required>
    <label for="start">Start</label>
    <input name="start" id="start"
           value="{{ request.form['start'] or start_time }}" required>
    <label for="end">End</label>
    <input name="end" id="end"
           value="{{ request.form['end'] or end_time }}" required>
    <label for="loc">Location</label>
    <textarea name="loc" id="loc">{{ request.form['loc'] or post['location'] }}</textarea>
    <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}